/* Основные стили для страницы */
body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 100%; /* Максимальная ширина элемента */
    padding: 2%; /* Поля вокруг текста */
    margin: 0 auto; /* Выравниваем по центру */ 
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравниваем содержимое по центру */
}

header {
    background: #f0f0f0;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    max-width: 112.0rem;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

.sidebar {
    width: 20%;
    padding: 2%;
    color: black;
    background: #f9f9f9;
    position: fixed;
    left: -22%; /* Скрываем сайдбар за пределами экрана */
    transition: left 0.3s ease; /* Плавный переход */
    height: 100%;
    overflow-y: auto;
}

.sidebar.open {
    left: 0; /* Показываем сайдбар */
}

.toggle-btn {
    cursor: pointer;
    padding: 2%;
    background: #9b4dca;
    color: white;
    border: none;
    border-radius: 5px;
}

.sidebar a {
    color: #9b4dca;
    text-decoration: none;
}

.sidebar a:hover {
    color: #9b4dca;
}

footer {
    background: #9b4dca;
    color: #000000;
    padding: 2%;
    text-align: center;
    margin-top: auto; /* Прижимаем подвал к низу */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 2%;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%; /* Добавляем отступ снизу */
    width: 20%; /* Убедитесь, что контейнер занимает всю ширину */
}

/* Стили для видеоплеера, выровненного по центру и среднего размера */
.centered-video {
    max-width: 600px; /* Фиксированная ширина видеоплеера */
    width: 40%; /* Заполняем доступное пространство */
    height: auto; /* Автоматически подстраиваем высоту */
    display: block;
    margin: 0 auto; /* Выравниваем видео по центру */
}

.xmain {
    text-align: center;
    width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
}

.centered-text {
    text-align: center; /* Выравниваем текст по центру */
}

.site-title {
    text-align: center;
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #9b4dca;
}

h4 {
    color: #9b4dca;
}

.content {
    display: flex;
    flex: 1 0 auto;
    justify-content: center; /* Выравниваем содержимое по центру */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: fixed;
        left: -100%; /* Скрываем сайдбар за пределами экрана на мобильных устройствах */
        height: 100%;
    }

    .sidebar.open {
        left: 0; /* Показываем сайдбар */
    }

    .main {
        width: 100%;
    }

    nav {
        flex-direction: column; /* Меняем направление flexbox на колонку */
        align-items: center; /* Выравниваем элементы по центру */
    }

    nav a {
        margin: 2% 0; /* Добавляем отступы между кнопками */
    }

    .centered-video {
        max-width: 90%; /* Уменьшаем ширину видеоплеера на мобильных устройствах */
    }
}
